
#wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(51,51,51,0.7);
    z-index: 10;
}

.date-picker-icon {
    float: left;
    margin-left: 10px;
    margin-top: -27px;
    position: relative;
    z-index: 2;
}

.search-icon {
    float: right;
    margin-right: 10px;
    margin-top: -27px;
    position: relative;
    z-index: 2;
}

.icon-input-left, 
.icon-input-left > div.react-datepicker-wrapper, 
.icon-input-left > div > div.react-datepicker__input-container
.icon-input-left > div > div.react-datepicker__input-container input {
   text-indent: 10%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.btn-bg-dark{
    background-color: #c8e6c9;
}

.btn-bg-dark:hover{
    background-color: #a5d6a7;
}

table{
    width: 100%
}

.card-title{
    background-color: #a5d6a7;
}

.cvsu-bg{
    background-image: 'url("assets/cvsu-building.jpg")' 
}

body {
    font-family: "Oswald";
}


    
.nav-link:hover {
    background-color:green; /*will change background-color of element on hover */
    color: white; /*will change color of text within the element on hover */
}

.nav-link span:hover{
    color: white;
}

h1 {
    font-size: 0.5em;
}

.brand-heading{ 
    color: #4CAF50;
}

.intro-text{
    color:black;
}
h1 {
    font-size: 60px;
}

.masthead{
    height: max-content;
}
.cvsu{
    color: #9de4a0;
    background-color: black;
}

.cvsu:hover{
    color: #9de4a0;
}

video {
    max-width: 100%;
    width: 100%;
    margin: 0;
    border-radius: 2vh;
  }
  
  .video-content {
    height:100vh;
  }
  
  .dropdown-menu {
    right: 0;
    left: auto;
}

.navBG{
    background-color: #C8E6C9;
}

.bg-footer{
    background-color: #262626;
}
